/*
 * Create a channel for input read files
 */
Channel
    .fromPath( params.reads )
    .ifEmpty { error "Cannot find any reads matching: ${params.reads}" }
    .set { read_files }

read_files.into { read_files_fastqc; read_files_trimming; name_for_star }
