/*
 * Step 3. Assembles the transcript by using the "cufflinks" tool
 */
process makeTranscript {
    tag "$pair_id"
    publishDir params.outdir, mode: 'copy'

    input:
    file 'anno.gtf' from annotation_file
    set pair_id, file(bam_file) from bam

    output:
    set pair_id, file('transcript_*.gtf') into transcripts

    """
    cufflinks --no-update-check -q -p ${task.cpus} -G anno.gtf ${bam_file}
    mv transcripts.gtf transcript_${pair_id}.gtf
    """
}
