process fastqc {
/* executor = 'sge'
   * clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
     memory { 2.GB * task.attempt }
   * time { 4.h * task.attempt }
   * errorStrategy { task.exitStatus == 143 ? 'retry' : 'ignore' }
   * maxRetries 3
   * maxErrors '-1'
*/
    publishDir "${params.outdir}/fastqc", mode: 'copy'

    input:
    file(reads:'*') from read_files_fastqc

    output:
    file '*_fastqc.{zip,html}' into fastqc_results

    """
   /restricted/projectnb/pulmseq/kkarri_netflow_test/FastQC/fastqc -q $reads
    """
}
