#!/usr/bin/env nextflow

/*
 vim: syntax=groovy
 -*- mode: groovy;-*-
 RNA-Seq Analysis Pipeline
*/

params.reads = "$baseDir{{ reads }}"
params.annot = "$baseDir{{ annotation }}"
params.genome = "$baseDir{{ genome }}"
{% if index is defined %}
	params.index = "{{ index }}"
{% endif %}
params.outdir = "{{ output_dir }}"

log.info "R N A T O Y   P I P E L I N E    "
log.info "================================="
log.info "genome             : ${params.genome}"
log.info "annotat            : ${params.annot}"
log.info "reads              : ${params.reads}"
log.info "outdir             : ${params.outdir}"

/*
 * the reference genome file
 */
genome_file = file(params.genome)
annotation_file = file(params.annot)

workflow.onComplete {
	println ( workflow.success ? "Done!" : "Oops .. something went wrong" )
}
