if (!params.paired)
{
    process trim_galore {
      /* executor = 'sge'
       * clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
       * cpus 3
       * memory { 3.GB * task.attempt }
       * time { 16.h * task.attempt }
       * errorStrategy { task.exitStatus == 143 ? 'retry' : 'terminate' }
       * maxRetries 3
       * maxErrors '-1'
       */
        publishDir "${params.outdir}/trim_galore"
        input:
        file reads from read_files_trimming
        output:
        file '*fq.gz' into trimmed_reads
        file '*trimming_report.txt' into trim_results
        script:
    	"""
        trim-galore --gzip $reads
        """
        }
    }
}

if (params.paired)
{
    process trim_galore {
      /* executor = 'sge'
       * clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
       * cpus 3
       * memory { 3.GB * task.attempt }
       * time { 16.h * task.attempt }
       * errorStrategy { task.exitStatus == 143 ? 'retry' : 'terminate' }
       * maxRetries 3
       * maxErrors '-1'
       */
        tag "$name"
        publishDir "${params.outdir}/trim_galore"
        input:
        set val(name), file(reads) from read_files_trimming
        output:
        file '*fq.gz' into trimmed_reads
        file '*trimming_report.txt' into trim_results
        script:
        """
        trim-galore --paired --gzip $reads
        """
        }
    }
}
